{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "tsconfig.eslintrc.json"
  },
  "plugins": ["no-loops", "prettier", "@typescript-eslint"],
  "extends": [
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "airbnb-base",
    "airbnb-typescript/base",
    "prettier"
  ],
  "rules": {
    "no-console": "off", // Whether block console.log statement.
    "no-loops/no-loops": "error", // use map / forEach instead of for / while
    "prettier/prettier": "error",
    "@typescript-eslint/no-unused-vars": "off",
    "class-methods-use-this": "warn"
  }
}
