{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "no-loops"
  ],
  "extends": [
    "eslint:recommended",
    "airbnb-base"
  ],
  "rules": {
    "no-console": 0,            // Whether block console.log statement.
    "no-loops/no-loops": 2      // use map / forEach instead of for / while
  }
}